<%= simple_form_for(cocktail) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="mt-3">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', cocktails_path, class: 'btn btn-danger ml-2' %>
  </div>
<% end %>
